VITE_SUPABASE_URL=https://your-supabase-url.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
PROJECT_NAME=your-project-name
PROJECT_ID=your-project-id
PROEJCT_REGION=your-project-region
DB_PASSWORD=your-db-password
PUBLISHABLE_KEY=your-publishable-key
SECRET_KEYS=your-secret-keys
USER_EMAIL=your-user-email
USER_PASSWORD=your-user-password

ADMIN_EMAIL=your-admin-email
ADMIN_PASSWORD=your-admin-password
